

body {
  background-color: rgb(1, 69, 1);
  font-family: 'Merriweather', serif;
  color: #614124 ;
  font-size: 16px;
  line-height: 25px;
}

h1, h2, h3 {
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
  display: inline-block;
}
h1 {
  font-size: 35px;
  line-height: 25px;
}

h3 {
  font-size: 30px;
  margin: 5px 0;
}
#profile-circle {
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50%;
  width: 150px;
  border: #CC704B solid 3px;
}

.list-lacking {
  list-style-type: none;
  padding: 0;
  line-height: 40px;
  margin: 0;
}
.list-lacking > li {
  display: inline-block;
  padding: 0 20px;
}

.link-brown {
  color: #8e5a2a;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-decoration: dotted;
}
.link-background {
  display: inline-block;
  background:#2c4e14;
  border-radius: 5px;
  padding: 4px;
  margin: 5px;
  transition: 1s;
}
.link-background:hover {
  background-color: #1d2d12;
}
.link-brown:hover {
  color: #d67608;
  transition: 1s;
}
.link-background-brown:hover {
  background-color: #1d2d12;
  border-radius: 5px;
  padding: 4px;
}



.card {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 3px black ;
  margin: 20px auto;
  padding: 20px;
}

.container {
  margin: 0 auto;
  max-width: 500px;
}




.card-lineup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-orientation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  text-align: center;
  margin-bottom: 10px;
}

.book-size {
  max-width: 150px;
  height: auto;
  border: black solid 2px;

}

.book-display {
  margin: 10 10px;
  border-radius: 5px;
}
.book-text {
  margin: 0 auto
}

.game-size {
  max-width: 200px;
  height: auto;
  border: black solid 2px;

}

.game-display {
  margin: 10 10px;
  border-radius: 5px;
}
.game-text {
  margin: 0 auto
}

.hiking-size {
  max-width: 300px;
  height: auto;
  border: black solid 2px;

}

.hiking-display {
  margin: 10 10px;
  border-radius: 5px;
}
.hiking-text {
  margin: 0 auto
}

.list-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
